:root {
  box-sizing: border-box;
  font-size: 0.875em;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: Lato, sans-serif;
  color: #5c5c5c;
  background-color: white;
}
.wrapper {
  display: flex;
}
.wrapper * + * {
  margin-left: 1em;
}
.counter {
  padding: 0.5em 1em;
  background-color: #f2f2f2;
  border-radius: 0.5em;
  text-align: center;
}
.counter * {
  margin: 0;
}
.counter__title {
  font-weight: bold;
}
.counter__body {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
}
.counter__column + .counter__column {
  margin-left: 1em;
}
.counter__column > span:nth-child(1) {
  font-size: 1.5rem;
}

.search {
  background-color: #f2f2f2;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  text-align: left;
  position: relative;
  display: inline-block;
}
.search > p {
  color: #b2b2b2;
  margin: 0;
  font-size: 0.8em;
}
.search__dropdown {
  outline: none;
  margin: 0;
  font-size: 1em;
  padding: 1em 0;
  color: #6685bd;
  cursor: pointer;
  border: transparent;
  font-weight: bold;
  background-color: transparent;
}
.search__dropdown:hover,
.search__dropdown:focus {
  color: #2d4779;
}
.search__drawer {
  display: block;
  position: absolute;
  left: 0;
  top: 11em;
  margin: 0;
  min-width: 100%;
  border-radius: 0.5em;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.3);
}
.search-form {
  padding: 0.5em 1em;
}
.search-form input:not([type="checkbox"]):not([type="radio"]) {
  display: block;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 2em;
  width: 100%;
  margin: 0;
}
.listname {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.listname li + li {
  margin: 0;
  padding-top: 0.5em;
}
.listname > li > a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.listname > li > a > p {
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}
.listname > li > a:hover {
  background-color: rgb(238, 238, 238);
}
